In [2]:
import pandas as pd
import json
import requests
import math

In [230]:
#Global paramenters
#Name of drug changes
base_url = "https://rxnav.nlm.nih.gov/REST/rxcui/"
base_url_2 = "https://rxnav.nlm.nih.gov/REST/"
getAllRelatedInfo = "/allrelated.json"
getRelatedByType = "/related.json?tty=IN"
df = pd.DataFrame()

In [239]:
df = pd.read_json("https://rxnav.nlm.nih.gov/REST/rxcui/6754/related.json?tty=IN")

In [240]:
df.relatedGroup.conceptGroup

[{'tty': 'IN',
  'conceptProperties': [{'rxcui': '6754',
    'name': 'meperidine',
    'synonym': '',
    'tty': 'IN',
    'language': 'ENG',
    'suppress': 'N',
    'umlscui': ''}]}]

In [221]:
df = pd.DataFrame(df.relatedGroup.conceptGroup)

In [223]:
df = pd.DataFrame(df.conceptProperties[0])

In [224]:
df

  rxcui      name synonym tty language suppress umlscui
0  7052  morphine          IN      ENG        N

In [236]:
def query_self(name_of_drug):
    rd_df = pd.read_json(base_url+name_of_drug+getRelatedByType)
    rd_df = pd.DataFrame(rd_df.relatedGroup.conceptGroup)
    rd_df = pd.DataFrame(rd_df.conceptProperties[0])
    return rd_df

In [294]:
def query_drug(name_of_drug):
    row = 0
    df = pd.DataFrame()
    rd_df = pd.read_json(base_url+name_of_drug+getAllRelatedInfo)
    rd_df = pd.DataFrame(rd_df.allRelatedGroup.conceptGroup)
    rd_df = rd_df.loc[rd_df["tty"] != "DF"].reset_index(drop=True)
    rd_df = rd_df.loc[rd_df["tty"] != "DFG"].reset_index(drop=True)
    while row < rd_df.shape[0]:
        if(pd.isna(rd_df.conceptProperties[row]) is True):
            row+=1
        else:
            new_df = pd.DataFrame(rd_df.conceptProperties[row])
            if df.empty:
                df = new_df
            else:
                df = pd.concat([df, new_df]).reset_index(drop=True)
        row += 1
    return df

In [295]:
query_drug('4337').to_csv("test.csv")

In [339]:
fentanyl = "4337"
morphine = "7052"
buprenorphine = "1819"
pethidine = "6754"
dihydromorphinone = "3423"
methadone = "6813"
hydrocodone = "5489"
tapentadol = "787390"
oxycodone = "7804"
oxymorphone = "7814"
codeine = "2670"
dihydrocodeine = "23088"

In [363]:
#Added
tramadol = "10689"
levorphanol = "6378"
nalbuphine = "7238"
pentazocine = "8001"
tilidine = "10597"
butorphanol = "1841"
dezocine = "22713"
levomethadone = "236913"
normethadone = "32009"
dextromoramide = "3290"
ethylmorphine = "4166"
alfentanil = "480"
sufentanil = "56795"
meptazinol = "6761"
remifentanil = "73032"
papaveretum = "7894"
phenazocine = "8119"
pirinitramide = "8354"
propoxyphene = "8785"
opium = "7676"
heroin = "3304"

In [365]:
query_drug(heroin).tail()

     rxcui                       name synonym   tty language suppress umlscui
1   333004               heroin 10 MG          SCDC      ENG        N
2   371779         heroin Oral Tablet          SCDF      ENG        N
3  1160338  heroin Injectable Product          SCDG      ENG        N
4  1160889        heroin Oral Product          SCDG      ENG        N
5  1160890                heroin Pill          SCDG      ENG        N

In [341]:
#loop array to get complete list
df_opioid = pd.DataFrame()
drugs = [fentanyl, morphine, buprenorphine, pethidine, dihydromorphinone, methadone, hydrocodone, tapentadol, oxycodone, oxymorphone, codeine, dihydrocodeine, tramadol, levorphanol, nalbuphine, pentazocine, tilidine, butorphanol, dezocine, levomethadone, normethadone, dextromoramide, ethylmorphine, alfentanil, sufentanil, meptazinol, remifentanil, papaveretum, phenazocine, pirinitramide, propoxyphene, opium]

for drug in drugs:
    self_df = query_self(drug)
    merg_df = query_drug(drug)
    df_opioid = pd.concat([df_opioid, self_df]).drop_duplicates(subset=['rxcui']).reset_index(drop=True)
    df_opioid = pd.concat([df_opioid, merg_df]).drop_duplicates(subset=['rxcui']).reset_index(drop=True)
df_opioid

,rxcui,name,synonym,tty,language,suppress,umlscui
0,4337,fentanyl,,IN,ENG,N,
1,1053648,Abstral,,BN,ENG,N,
2,1115547,Lazanda,,BN,ENG,N,
3,1237051,Subsys,,BN,ENG,N,
4,151678,Duragesic,,BN,ENG,N,
...,...,...,...,...,...,...,...
2564,370998,belladonna alkaloids / opium Rectal Suppository,,SCDF,ENG,N,
2565,377949,opium Oral Solution,,SCDF,ENG,N,
2566,1155999,belladonna alkaloids / opium Rectal Product,,SCDG,ENG,N,
2567,1161039,opium Oral Liquid Product,,SCDG,ENG,N,
2568,1161040,opium Oral Product,,SCDG,ENG,N,

In [342]:
#Export
df_opioid.to_excel(r"C:/Users/Daniel/Documents/opiod_list/opioid_list/New_Complete_Opioids_List_2.xlsx", index=False)

In [343]:
df_opioid

,rxcui,name,synonym,tty,language,suppress,umlscui
0,4337,fentanyl,,IN,ENG,N,
1,1053648,Abstral,,BN,ENG,N,
2,1115547,Lazanda,,BN,ENG,N,
3,1237051,Subsys,,BN,ENG,N,
4,151678,Duragesic,,BN,ENG,N,
...,...,...,...,...,...,...,...
2564,370998,belladonna alkaloids / opium Rectal Suppository,,SCDF,ENG,N,
2565,377949,opium Oral Solution,,SCDF,ENG,N,
2566,1155999,belladonna alkaloids / opium Rectal Product,,SCDG,ENG,N,
2567,1161039,opium Oral Liquid Product,,SCDG,ENG,N,
2568,1161040,opium Oral Product,,SCDG,ENG,N,

In [344]:
#take list and format it to the RXNorm api format
#This list was made by combinding the excel files
df_list = pd.read_excel("C:/Users/Daniel/Documents/opiod_list/opioid_list/Complete_Opioids_List.xlsx")
df_list = df_list[['Code', 'Description','TTY']]
df_list.rename(columns= {'Code' : 'rxcui', 'Description': 'name'}, inplace = True)
df_list

        rxcui                                               name  TTY
0     1010600  buprenorphine 2 MG / naloxone 0.5 MG Sublingua...  SCD
1     1010604  buprenorphine 8 MG / naloxone 2 MG Sublingual ...  SCD
2     1014599  acetaminophen 300 MG / oxycodone hydrochloride...  SCD
3     1014615  acetaminophen 300 MG / oxycodone hydrochloride...  SCD
4     1014632  acetaminophen 300 MG / oxycodone hydrochloride...  SCD
...       ...                                                ...  ...
5152   996712  codeine phosphate 20 MG / guaifenesin 400 MG /...  SBD
5153   996716  codeine phosphate 20 MG / guaifenesin 400 MG /...  SBD
5154   996727  codeine phosphate 20 MG / guaifenesin 400 MG O...  SBD
5155   996730  codeine phosphate 20 MG / pseudoephedrine hydr...  SBD
5156   996738  codeine phosphate 9 MG / guaifenesin 200 MG Or...  SBD

[5157 rows x 3 columns]

In [345]:
#This list was created by pulling from the RxNorm API
df_opioid = df_opioid[['rxcui', 'name',"tty"]]

In [346]:
df_opioid

        rxcui                                             name   tty
0        4337                                         fentanyl    IN
1     1053648                                          Abstral    BN
2     1115547                                          Lazanda    BN
3     1237051                                           Subsys    BN
4      151678                                        Duragesic    BN
...       ...                                              ...   ...
2564   370998  belladonna alkaloids / opium Rectal Suppository  SCDF
2565   377949                              opium Oral Solution  SCDF
2566  1155999      belladonna alkaloids / opium Rectal Product  SCDG
2567  1161039                        opium Oral Liquid Product  SCDG
2568  1161040                               opium Oral Product  SCDG

[2569 rows x 3 columns]

In [347]:
same_drug_count = 0
new_drug_count = 0
drug_not_found_count = 0
same_drug = pd.DataFrame({"drugs_in_list_rxcui": [], "drugs_in_list_name": []})
new_drug = pd.DataFrame({"new_drugs_rxcui": [], "new_drugs_name": []})
for code in df_opioid['rxcui']:
    drug_name = df_opioid['name'].where(df_opioid['rxcui'] == code).dropna().values[0]
    if df_list.isin([int(code)]).any().any() == True:
        same_drug_count += 1
        same_drug = same_drug.append({'drugs_in_list_rxcui': code, 'drugs_in_list_name' : drug_name}, ignore_index = True)
    else:
        new_drug_count += 1
        new_drug = new_drug.append({'new_drugs_rxcui': code, 'new_drugs_name': drug_name}, ignore_index = True)
print('Same drug count: ', same_drug_count)
print('New drug count: ', new_drug_count)

Same drug count:  2025
New drug count:  544

In [348]:
df_final = pd.DataFrame()

In [349]:
#Displays same and new drugs
df_final = same_drug.join(new_drug)
df_final.head()

,drugs_in_list_rxcui,drugs_in_list_name,new_drugs_rxcui,new_drugs_name
0,4337,fentanyl,1115548,fentanyl 0.1 MG/ACTUAT [Lazanda]
1,1053648,Abstral,1115578,fentanyl 0.4 MG/ACTUAT [Lazanda]
2,1115547,Lazanda,1237052,fentanyl 0.1 MG/ACTUAT [Subsys]
3,1237051,Subsys,1237058,fentanyl 0.2 MG/ACTUAT [Subsys]
4,151678,Duragesic,1237061,fentanyl 0.4 MG/ACTUAT [Subsys]

In [350]:
absent_drugs = pd.DataFrame({"drugs_not_found_rxcui": [], "drugs_not_found_name": [], "drugs_not_found_tty": []})
count = 0
#for every code from the combind excel list
for code in df_list['rxcui']:
    drug_name = df_list['name'].where(df_list['rxcui'] == code).dropna().values[0]
    tty = df_list['TTY'].where(df_list['rxcui'] == code).dropna().values[0]
    if df_final.isin([str(code)]).any().any() == True:
        count+=1
    else:
        absent_drugs = absent_drugs.append({'drugs_not_found_rxcui': str(code), 'drugs_not_found_name': drug_name, 'drugs_not_found_tty': tty}, ignore_index = True)
print('Count: ', count)
absent_drugs.head()

Count:  2025

,drugs_not_found_rxcui,drugs_not_found_name,drugs_not_found_tty
0,1113998,chlorpheniramine maleate 0.4 MG/ML / codeine p...,SCD
1,1114003,chlorpheniramine maleate 0.4 MG/ML / codeine p...,SCD
2,1114110,codeine phosphate 1.6 MG/ML / guaifenesin 40 M...,SCD
3,1114878,codeine phosphate 1.6 MG/ML / pseudoephedrine ...,SCD
4,1655058,meperidine hydrochloride 150 MG Oral Tablet,SCD

In [351]:
absent_drugs.to_excel("absent_2.xlsx")

In [352]:
df_final = pd.DataFrame()
df_final = absent_drugs.join(same_drug)
df_final = df_final.join(new_drug)
print(df_final.shape) #check if correct size
df_final.head()

(3132, 7)

,drugs_not_found_rxcui,drugs_not_found_name,drugs_not_found_tty,drugs_in_list_rxcui,drugs_in_list_name,new_drugs_rxcui,new_drugs_name
0,1113998,chlorpheniramine maleate 0.4 MG/ML / codeine p...,SCD,4337,fentanyl,1115548,fentanyl 0.1 MG/ACTUAT [Lazanda]
1,1114003,chlorpheniramine maleate 0.4 MG/ML / codeine p...,SCD,1053648,Abstral,1115578,fentanyl 0.4 MG/ACTUAT [Lazanda]
2,1114110,codeine phosphate 1.6 MG/ML / guaifenesin 40 M...,SCD,1115547,Lazanda,1237052,fentanyl 0.1 MG/ACTUAT [Subsys]
3,1114878,codeine phosphate 1.6 MG/ML / pseudoephedrine ...,SCD,1237051,Subsys,1237058,fentanyl 0.2 MG/ACTUAT [Subsys]
4,1655058,meperidine hydrochloride 150 MG Oral Tablet,SCD,151678,Duragesic,1237061,fentanyl 0.4 MG/ACTUAT [Subsys]

In [375]:
#export
df_final.to_excel("C:/Users/Daniel/Documents/opiod_list/opioid_list/Opioids_Comparison.xlsx", index=False)

In [374]:
df_final

,drugs_not_found_rxcui,drugs_not_found_name,drugs_not_found_tty,drugs_in_list_rxcui,drugs_in_list_name,new_drugs_rxcui,new_drugs_name
0,1113998,chlorpheniramine maleate 0.4 MG/ML / codeine p...,SCD,4337,fentanyl,1115548,fentanyl 0.1 MG/ACTUAT [Lazanda]
1,1114003,chlorpheniramine maleate 0.4 MG/ML / codeine p...,SCD,1053648,Abstral,1115578,fentanyl 0.4 MG/ACTUAT [Lazanda]
2,1114110,codeine phosphate 1.6 MG/ML / guaifenesin 40 M...,SCD,1115547,Lazanda,1237052,fentanyl 0.1 MG/ACTUAT [Subsys]
3,1114878,codeine phosphate 1.6 MG/ML / pseudoephedrine ...,SCD,1237051,Subsys,1237058,fentanyl 0.2 MG/ACTUAT [Subsys]
4,1655058,meperidine hydrochloride 150 MG Oral Tablet,SCD,151678,Duragesic,1237061,fentanyl 0.4 MG/ACTUAT [Subsys]
...,...,...,...,...,...,...,...
3127,860239,guaifenesin 10 MG/ML / hydrocodone bitartrate ...,SBD,NaN,NaN,NaN,NaN
3128,860530,guaifenesin 20 MG/ML / hydrocodone bitartrate ...,SBD,NaN,NaN,NaN,NaN
3129,891172,guaifenesin 20 MG/ML / hydrocodone bitartrate ...,SBD,NaN,NaN,NaN,NaN
3130,996462,codeine phosphate 2 MG/ML / guaifenesin 20 MG/...,SBD,NaN,NaN,NaN,NaN
3131,996484,codeine phosphate 2 MG/ML / guaifenesin 20 MG/...,SBD,NaN,NaN,NaN,NaN

In [354]:
#start here for absolete
#reduce data to be used to find obsolete
not_found = df_final[['drugs_not_found_rxcui', 'drugs_not_found_name']]
not_found.rename(columns= {'drugs_not_found_rxcui' : 'rxcui', 'drugs_not_found_name': 'name'}, inplace = True)
not_found

C:\Users\Daniel\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        rxcui                                               name
0     1113998  chlorpheniramine maleate 0.4 MG/ML / codeine p...
1     1114003  chlorpheniramine maleate 0.4 MG/ML / codeine p...
2     1114110  codeine phosphate 1.6 MG/ML / guaifenesin 40 M...
3     1114878  codeine phosphate 1.6 MG/ML / pseudoephedrine ...
4     1655058        meperidine hydrochloride 150 MG Oral Tablet
...       ...                                                ...
3127   860239  guaifenesin 10 MG/ML / hydrocodone bitartrate ...
3128   860530  guaifenesin 20 MG/ML / hydrocodone bitartrate ...
3129   891172  guaifenesin 20 MG/ML / hydrocodone bitartrate ...
3130   996462  codeine phosphate 2 MG/ML / guaifenesin 20 MG/...
3131   996484  codeine phosphate 2 MG/ML / guaifenesin 20 MG/...

[3132 rows x 2 columns]

In [355]:
df_status = pd.DataFrame()
index = 0
for code in not_found['rxcui']:
    getRxcuiHistoryStatus = 'rxcui/{}/historystatus.json'.format(code)
    df_type = pd.read_json(base_url_2+getRxcuiHistoryStatus)
    df_type = pd.DataFrame(df_type.rxcuiStatusHistory.metaData, index=[0])
    df_type['rxcui'] = code
    df_status = pd.concat([df_status, df_type]).drop_duplicates(subset=['rxcui']).reset_index(drop=True)

In [356]:
df_status.tail(30)

,status,source,releaseStartDate,releaseEndDate,isCurrent,activeStartDate,activeEndDate,remappedDate,rxcui
3102,Obsolete,RXNORM,102011,,NO,102011,122021,,1182650
3103,Obsolete,RXNORM,102011,,NO,102011,122021,,1182651
3104,Obsolete,RXNORM,102011,,NO,102011,032022,,1185353
3105,Obsolete,RXNORM,102011,,NO,102011,032022,,1185354
3106,Obsolete,RXNORM,102011,,NO,102011,052021,,1186474
3107,Obsolete,RXNORM,102011,,NO,102011,052021,,1186475
3108,Active,RXNORM,112011,,YES,112011,,,1190641
3109,Active,RXNORM,112011,,YES,112011,,,1190646
3110,Active,RXNORM,052012,,YES,052012,,,1250693
3111,Obsolete,RXNORM,102012,,NO,102012,122021,,1308440
3112,Obsolete,RXNORM,072015,,NO,072015,042021,,1650980
3113,Obsolete,RXNORM,072015,,NO,072015,042021,,1650981
3114,Obsolete,RXNORM,092019,,NO,092019,032022,,2182355
3115,Obsolete,RXNORM,082009,,NO,082009,122021,,857575
3116,Obsolete,RXNORM,092009,,NO,092009,122021,,857830
3117,Obsolete,RXNORM,092009,,NO,092009,122021,,857845
3118,Obsolete,RXNORM,092009,,NO,092009,032022,,858976
3119,Obsolete,RXNORM,092009,,NO,092009,122021,,859019
3120,Obsolete,RXNORM,092009,,NO,092009,122021,,859099
3121,Obsolete,RXNORM,092009,,NO,092009,012022,,859141
3122,Obsolete,RXNORM,092009,,NO,092009,032022,,859150
3123,Obsolete,RXNORM,092009,,NO,092009,032022,,859368
3124,Obsolete,RXNORM,092009,,NO,092009,122021,,859376
3125,Obsolete,RXNORM,092009,,NO,092009,122021,,859943
3126,Obsolete,RXNORM,092009,,NO,092009,122021,,860138
3127,Obsolete,RXNORM,092009,,NO,092009,122021,,860239
3128,Obsolete,RXNORM,092009,,NO,092009,122021,,860530
3129,Obsolete,RXNORM,022010,,NO,022010,032022,,891172
3130,Obsolete,RXNORM,072010,,NO,072010,032022,,996462
3131,Obsolete,RXNORM,072010,,NO,072010,032022,,996484

In [357]:
df_not_found = not_found.merge(df_status, on='rxcui')

In [358]:
df_not_found

,rxcui,name,status,source,releaseStartDate,releaseEndDate,isCurrent,activeStartDate,activeEndDate,remappedDate
0,1113998,chlorpheniramine maleate 0.4 MG/ML / codeine p...,Obsolete,RXNORM,082011,,NO,082011,122021,
1,1114003,chlorpheniramine maleate 0.4 MG/ML / codeine p...,Obsolete,RXNORM,082011,,NO,082011,032022,
2,1114110,codeine phosphate 1.6 MG/ML / guaifenesin 40 M...,Obsolete,RXNORM,082011,,NO,082011,122021,
3,1114878,codeine phosphate 1.6 MG/ML / pseudoephedrine ...,Obsolete,RXNORM,082011,,NO,082011,122021,
4,1655058,meperidine hydrochloride 150 MG Oral Tablet,Obsolete,RXNORM,072015,,NO,072015,082021,
...,...,...,...,...,...,...,...,...,...,...
3127,860239,guaifenesin 10 MG/ML / hydrocodone bitartrate ...,Obsolete,RXNORM,092009,,NO,092009,122021,
3128,860530,guaifenesin 20 MG/ML / hydrocodone bitartrate ...,Obsolete,RXNORM,092009,,NO,092009,122021,
3129,891172,guaifenesin 20 MG/ML / hydrocodone bitartrate ...,Obsolete,RXNORM,022010,,NO,022010,032022,
3130,996462,codeine phosphate 2 MG/ML / guaifenesin 20 MG/...,Obsolete,RXNORM,072010,,NO,072010,032022,
3131,996484,codeine phosphate 2 MG/ML / guaifenesin 20 MG/...,Obsolete,RXNORM,072010,,NO,072010,032022,

In [359]:
df_active=df_not_found.loc[df_not_found['status']== 'Active'].reset_index(drop=True)

In [360]:
df_active

,rxcui,name,status,source,releaseStartDate,releaseEndDate,isCurrent,activeStartDate,activeEndDate,remappedDate
0,200240,paregoric 0.4 MG/ML Oral Solution,Active,RXNORM,042005,,YES,052006,,
1,1307713,Kalopanax septemlobus bark extract,Active,RXNORM,102012,,YES,102012,,
2,218337,methadone hydrochloride,Active,RXNORM,042005,,YES,052006,,
3,42347,Bupropion,Active,RXNORM,042005,,YES,052006,,
4,250473,heroin 10 MG Oral Tablet,Active,RXNORM,042005,,YES,052006,,
...,...,...,...,...,...,...,...,...,...,...
2813,1179656,Lonox Oral Product,Active,RXNORM,102011,,YES,102011,,
2814,1179657,Lonox Pill,Active,RXNORM,102011,,YES,102011,,
2815,1190641,atropine sulfate 0.025 MG / diphenoxylate hydr...,Active,RXNORM,112011,,YES,112011,,
2816,1190646,atropine sulfate 0.025 MG / diphenoxylate hydr...,Active,RXNORM,112011,,YES,112011,,
2817,1250693,loperamide hydrochloride 0.133 MG/ML Oral Susp...,Active,RXNORM,052012,,YES,052012,,

In [361]:
#export
df_not_found.to_excel("C:/Users/Daniel/Documents/opiod_list/opioid_list/Status_of_Not_found.xlsx", index=False)
df_active.to_excel("C:/Users/Daniel/Documents/opiod_list/opioid_list/Active_but_Not_Found.xlsx", index=False)

In [368]:
most_occuring = pd.Series(' '.join(df_active['name']).lower().split()).value_counts()[:100]

In [371]:
most_occuring = pd.DataFrame(most_occuring)

In [372]:
most_occuring

                   0
/               2391
mg              2259
mg/ml           2034
oral            1575
hydrochloride    946
...              ...
0.02              41
suppository       41
6                 40
hyaluronate       39
disintegrating    39

[100 rows x 1 columns]

In [373]:
most_occuring.to_csv("Most_Occuring.csv")